doctype html
html.no-js
head
    meta(charset='utf-8')
    title gulpWepApp
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
       Place favicon.ico and apple-touch-icon.png in the root directory 
    //
       build:css styles/vendor.css 
    //
       bower:css 
    //
       endbower 
    //
       endbuild 
    //
       build:css styles/main.css 
    link(rel='stylesheet', href='styles/main.css')
    //
       endbuild 
    //
       build:js scripts/vendor/modernizr.js 
    script(src='bower_components/modernizr/modernizr.js')
    //
       endbuild 
  body
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    .container
      .header
        ul.nav.nav-pills.pull-right
          li.active
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Contact
        h3.text-muted gulpWepApp
      .jumbotron
        h1 'Allo, 'Allo!
        p.lead Always a pleasure scaffolding your apps.
        p
          a.btn.btn-lg.btn-success(href='#') Splendid!
      .row.marketing
        .col-lg-6
          h4 HTML5 Boilerplate
          p
            | HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
          h4 Sass
          p
            | Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.
          h4 Bootstrap
          p
            | Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
          h4 Modernizr
          p
            | Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.
      .footer
        p ♥ from the Yeoman team
    //
       build:js scripts/vendor.js 
    //
       bower:js 
    //
       endbower 
    //
       endbuild 
    //
       build:js scripts/plugins.js 
    //
       endbuild 
    //
       build:js scripts/main.js 
    script(src='scripts/main.js')
    //
       endbuild 

